<style>
    #collapseTitle:hover {
        cursor: pointer;
    }

    .btn-info {
        color: #fff !important;
    }

    .btn-success {
        color: #fff !important;
    }

    a:hover {
        cursor: pointer;
    }
</style>
<link href="~/app/other/persianDate/bootstrap-datepicker.css" rel="stylesheet" />

<div ng-controller="siteContentController" ng-form="formProject">
    <div cg-busy="{promise:myPromise,message:'لطفا تا بارگذاری کامل صفحه شکیبا باشید',backdrop:true,delay:300,minDuration:700}">

        <div class="card" style="margin-bottom:10px;">
            <div class="card-header">
                <ul id="myTab" class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="navAllProject" role="tab" data-toggle="tab" data-target="#tabAllProject" style="cursor: pointer;">
                            <i class="fa fa-info-circle fa-fw fa-flex ml-2" aria-hidden="true"></i>
                            پروژهات موجود
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="tab-content">

                    <div class="tab-pane active" id="tabAllProject" role="tabpanel">
                        <div class="page-sub-header">
                            <div class="row">
                                <div class="col">
                                    <h6 class="text-muted mt-3">پروژهات ثبت شده</h6>
                                    <div class="clearfix"></div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="category" class="form-control-label">صفحه</label>
                                        <select id="category" ng-options="item as item.name for item in pages"
                                                ng-change="getSiteContent(content)" ng-model="content.Page" class="form-control form-control-sm custom-select"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabPhoto" role="tabpanel" ng-if="content.Page.PageId === 6">
                                <div class="page-sub-header">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="text-muted mt-3">افزودن تصویر</h6>
                                            <div class="clearfix"></div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label">انتخاب فایل</label>
                                            <label class="custom-file">
                                                <input id="FDID" class="custom-file-input" type="file" name="attachment" accept=".jpg,.jpeg" data-ak-file-model="fileAttachment.attachment">
                                                <span class="custom-file-control"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>



                                <div class="row mt-2 mb-2 text-left">
                                    <div class="col-12">

                                        <input type="button" value="افزودن تصویر" class="btn btn-sm btn-success mb-3"
                                               ng-click="uploadFile(fileAttachment)" ng-disabled="!fileAttachment" />
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-3" ng-repeat="x in pageImages">
                                        <div class="form-group">
                                            <img class="col-md-12" src="../../../AkoSatrapImages/abilities/{{x}}" />
                                            <a class="btn btn-sm btn-success mb-3" role="button" ng-click="deletePhoto(x)" style="color:white">
                                                حذف تصویر
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="content.Page.PageId !== 6">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title" class="form-control-label">عنوان </label>
                                        <input id="title" name="title" ng-model="content.Title" class="form-control form-control-sm" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Body">محتوا</label>
                                        <textarea style="height:25vh" class="form-control form-control-sm" name="Body" id="Description" rows="7" ng-model="content.Body" required ng-pattern="persianPattern"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2 text-left" ng-if="content.Page.PageId !== 6">
                                <div class="col-12">
                                    <input type="button" value="ذخیره" class="btn btn-sm btn-success mb-3"
                                           ng-click="saveContent()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>