################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AkoSatrap/bin
/Business/bin/Debug
/Business/obj/Debug/Business.pdb
/Business/obj/Debug/Business.dll
/Business/obj/Debug/Business.csprojAssemblyReference.cache
/Business/obj/Debug/Business.csproj.CoreCompileInputs.cache
/Business/obj/Debug/Business.csproj.CopyComplete
/AkoSatrap/obj/Debug/AkoSatrap.pdb
/AkoSatrap/obj/Debug/AkoSatrap.dll
/AkoSatrap/obj/Debug/AkoSatrap.csprojAssemblyReference.cache
/AkoSatrap/obj/Debug/AkoSatrap.csproj.CoreCompileInputs.cache
/AkoSatrap/obj/Debug/AkoSatrap.csproj.CopyComplete
/DomainDeriven/obj/Debug/DomainDeriven.pdb
/DomainDeriven/obj/Debug/DomainDeriven.dll
/DomainDeriven/obj/Debug/DomainDeriven.csprojAssemblyReference.cache
/DomainDeriven/obj/Debug/DomainDeriven.csproj.CoreCompileInputs.cache
/DomainDeriven/obj/Debug/DomainDeriven.csproj.CopyComplete
/DomainDeriven/bin/Debug/EntityFramework.xml
/DomainDeriven/bin/Debug/EntityFramework.SqlServer.xml
/DomainDeriven/bin/Debug/EntityFramework.SqlServer.dll
/DomainDeriven/bin/Debug/EntityFramework.dll
/DomainDeriven/bin/Debug/DomainDeriven.pdb
/DomainDeriven/bin/Debug/DomainDeriven.dll.config
/DomainDeriven/bin/Debug/DomainDeriven.dll
/ViewModel/obj/Debug/ViewModel.pdb
/ViewModel/obj/Debug/ViewModel.dll
/ViewModel/obj/Debug/ViewModel.csprojAssemblyReference.cache
/ViewModel/obj/Debug/ViewModel.csproj.CoreCompileInputs.cache
/ViewModel/bin/Debug/ViewModel.pdb
/ViewModel/bin/Debug/ViewModel.dll
*/bin
*/obj