
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="txt-right-plus-icon big">
                    <span class="glyphicon glyphicon-earphone txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <h5>تماس با ما</h5>
                </div>

                <div class="txt-right-plus-icon">
                    <span class="glyphicon glyphicon-phone txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <p><a style="z-index:99999;position:relative" href="tel:۷۷۲۰۹۶۰۰">تلفن: ۷۷۲۰۹۶۰۰</a> </p>
                </div>
                <div class="txt-right-plus-icon">
                    <span class="glyphicon glyphicon-print txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <p><a style="z-index:99999;position:relative" href="tel:۷۷۲۰۹۵۰۰">نمابر: ۷۷۲۰۹۵۰۰ </a></p>
                </div>
                <div class="txt-right-plus-icon">
                    <span class="glyphicon glyphicon-print txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <p><a href="tel:۷۷۲۰۹۵۰۰">پیگیری نمابر: ۷۷۲۰۹۵۰۰</a></p>
                </div>
                <div class="txt-right-plus-icon">
                    <span class="glyphicon glyphicon-send txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <p><a href="tel:۷۷۲۰۹۵۰۰">تلگرام: ۷۷۲۰۹۵۰۰</a></p>
                </div>
                <div class="txt-right-plus-icon">
                    <span class="glyphicon glyphicon-envelope txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <p><a href="mailto:AkoSatrapIranian@mail.com">ایمیل: AkoSatrapIranian@mail.com </a></p>
                </div>
                <div class="txt-right-plus-icon">
                    <span class="glyphicon glyphicon-map-marker txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <p> آدرس: تهران، بزرگراه رسالت، بعد از چهارراه سرسبز، پلاک ۶۰۰، طبقه سوم</p>
                </div>
                <div class="txt-right-plus-icon">
                    <span class="glyphicon glyphicon-flag txt-brand-color-lightviolet" aria-hidden="true"></span>
                    <p>کد پستی : ۱۶۴۹۶۴۵۵۱۳</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-us-map">
                    <div class="map-blocks-wrapper">
                        <div class="map-block">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.633642437919!2d51.49572781225109!3d35.73522757949037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0323db1c11cd%3A0x7dc74431e5d38464!2zMzXCsDQ0JzA3LjIiTiA1McKwMjknNTAuOCJF!5e0!3m2!1sen!2s!4v1519980769416" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageName
{
تماس با ما
}