@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="property">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell main-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="main-detail">

                                        <div class="main-detail-blocks-wrapper">

                                            <div class="main-detail-block main-detail-header">
                                                <ul>
                                                    <li>
                                                        کدپروژه:  <span>۱۲۵۲۳</span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="main-detail-block main-detail-body">
                                                <div class="txt">
                                                    <h4 class="txt-brand-color-lightviolet">برج های اداری سامان فراز</h4>
                                                    <dl class="dl-horizontal">
                                                        <dt>استان</dt>
                                                        <dd>تهران</dd>
                                                        <dt>آدرس</dt>
                                                        <dd>خیابان شریعتی, خ موسیوند, کوچه آفتاب</dd>
                                                        <dt>تلفن</dt>
                                                        <dd>۱۲۵۲۳۱۲۵۲۳</dd>
                                                        <dt>نوع کاربری</dt>
                                                        <dd>اداری-تجاری</dd>
                                                        <dt>پیشرفت پروژه</dt>
                                                        <dd>۲۰%</dd>
                                                        <dt>متراژ زمین</dt>
                                                        <dd><span>۳۰۰</span> متر مربع</dd>
                                                        <dt>متراژ بنا</dt>
                                                        <dd><span>۳۰۰</span> متر مربع</dd>
                                                        <dt>تعداد طبقات</dt>
                                                        <dd><span>۴</span></dd>
                                                        <dt>نما</dt>
                                                        <dd>گرانیت</dd>

                                                    </dl>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="gallery">
                                        <div class="gallery-blocks-wrapper">
                                            <div class="gallery-block gallery-img">
                                                <div class="img"
                                                     style="background-image: url('../../dist/img/samples/slider-001.png')"
                                                     data-toggle="modal" data-target="#lightbox"></div>
                                            </div>
                                            <div class="gallery-block gallery-thumbnail">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="img"
                                                             style="background-image: url('../../dist/img/samples/slider-001.png')"></div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="img"
                                                             style="background-image: url('../../dist/img/samples/slider-002.png')"></div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="img"
                                                             style="background-image: url('../../dist/img/samples/slider-003.png')"></div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="img"
                                                             style="background-image: url('../../dist/img/samples/slider-004.png')"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal" id="lightbox" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="lightbox-img">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="img-wrapper">
                                                                    <div class="img"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lightbox-thumbnail">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="img-wrapper">
                                                                    <div class="img"
                                                                         style="background-image: url('../../dist/img/samples/slider-001.png')"></div>
                                                                    <div class="img"
                                                                         style="background-image: url('../../dist/img/samples/slider-002.png')"></div>
                                                                    <div class="img"
                                                                         style="background-image: url('../../dist/img/samples/slider-003.png')"></div>
                                                                    <div class="img"
                                                                         style="background-image: url('../../dist/img/samples/slider-004.png')"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="facilities">
                                        <div class="facilities-blocks-wrapper">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="facilities-block">


                                                        <div class="description-block">
                                                            <div class="txt-left-plus-icon">
                                                                <div class="icon-block">
                                                                    <div class="icon icon-i-024"></div>
                                                                </div>
                                                                <p class="bold">توضیحات بیشتر</p>
                                                            </div>
                                                            <div class="txt">
                                                                از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و
                                                                ارایه گرفته شده&zwnj;است. از آنجایی که طراحان عموما نویسنده
                                                                متن
                                                                نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال
                                                                کار
                                                                آنها به نوعی وابسته به متن می&zwnj;باشد آنها با استفاده از
                                                                محتویات
                                                                ساختگی، صفحه گرافیکی خود را صفحه&zwnj;آرایی می&zwnj;کنند تا
                                                                مرحله طراحی و
                                                                صفحه&zwnj;بندی را به پایان برند.
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="map">
                                                <div class="map-blocks-wrapper">
                                                    <div class="map-block">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4576.662281914378!2d51.43461472471411!3d35.79529477531748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C+Tehran+Province%2C+Iran!5e0!3m2!1sen!2sde!4v1492354912654"
                                                                width="400" height="300" frameborder="0" style="border:0"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var galleryImg = $(".gallery-img .img");

            function applyBackImg(from, to) {
                to.css('background-image', from.css('background-image'));
            }

            $('.gallery-thumbnail .img').click(function () {
                applyBackImg($(this), galleryImg)
            });

            $('#lightbox').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var lightbox = $(this);
                var lightboxImg = lightbox.find('.lightbox-img .img');
                var lightboxThumbnail = lightbox.find('.lightbox-thumbnail .img');

                applyBackImg(button, lightboxImg);

                lightboxThumbnail.click(function () {
                    applyBackImg($(this), lightboxImg);
                })

            })
        });


    </script>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
        function myAccFunc() {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf(" bar-show") == -1) {
                x.className += " bar-show";
                x.previousElementSibling.className += " bar-blue";
            } else {
                x.className = x.className.replace(" bar-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" bar-blue", "");
            }
        }
    </script>
}