<style>
    #collapseTitle:hover {
        cursor: pointer;
    }

    .btn-info {
        color: #fff !important;
    }

    .btn-success {
        color: #fff !important;
    }
</style>

<div ng-controller="productCategoryController" ng-form="formProductFeature">
    <div cg-busy="{promise:myPromise,message:'لطفا تا بارگذاری کامل صفحه شکیبا باشید',backdrop:true,delay:300,minDuration:700}">

        <div class="card" style="margin-bottom:10px;">
            <div class="card-header">
                <ul id="myTab" class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="navInformation" role="tab" data-toggle="tab" data-target="#tabInformation" style="cursor: pointer;">
                            <i class="fa fa-info-circle fa-fw fa-flex ml-2" aria-hidden="true"></i>
                            جزییات محصول
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="navInsertUpdate" role="tab" data-toggle="tab" data-target="#tabInsertUpdate" style="cursor: pointer;">
                            <i class="fa fa-cog fa-fw fa-flex ml-2" aria-hidden="true"></i>
                            ایجاد/ویرایش
                        </a>
                    </li>

                </ul>
            </div>
            <div class="card-block">
                <div class="tab-content">

                    <div class="tab-pane active" id="tabInformation" role="tabpanel">
                        <div class="page-sub-header">
                            <div class="row">
                                <div class="col">
                                    <h6 class="text-muted mt-3">جزییات محصول</h6>
                                    <div class="clearfix"></div>
                                    <hr />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="product" class="form-control-label">محصول</label>
                                    <select id="product" ng-options="item as item.Title for item in productDataSource track by item.Id"
                                         ng-change="refreshGrid()"   ng-model="product" class="form-control form-control-sm custom-select"></select>
                                </div>
                            </div>
                        </div>

                        <div class="k-rtl row">
                            <div class="col-md-12">
                                <kendo-grid options="gridOption">
                                </kendo-grid>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tabInsertUpdate" role="tabpanel">
                        <div class="page-sub-header">
                            <div class="row">
                                <div class="col">
                                    <h6 class="text-muted mt-3">مشخصات دسته بندی محصولات</h6>
                                    <div class="clearfix"></div>
                                    <hr />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Title" class="form-control-label">تیتر فارسی</label>
                                    <input id="Title" name="Title" ng-model="productDetail.Title"
                                           class="form-control form-control-sm" type="text" placeholder="عنوان دسته بندی" required ng-pattern="persianPattern">
                                    <div class="has-danger" ng-messages="formProductFeature.Title.$error">
                                        <small ng-message="required"> عنوان اجباری میباشد</small>
                                        <small ng-message="pattern">از کاراکتر فارسی استفاده نمایید</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EnTitle" class="form-control-label">تیتر انگلیسی</label>
                                    <input id="EnTitle" name="EnTitle" ng-model="productDetail.EnTitle" class="form-control form-control-sm" type="text"
                                           placeholder="قیمت پایه" required ng-pattern="englishPattern">
                                    <div class="has-danger" ng-messages="formProductFeature.EnTitle.$error">
                                        <small ng-message="required">عنوان انگلیسی اجباری می باشد</small>
                                        <small ng-message="pattern">از کاراکتر لاتین استفاده نمایید</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="FA5">توضیحات</label>
                                    <textarea class="form-control form-control-sm" name="Description" id="FA5" rows="7" ng-model="productDetail.Description" required ng-pattern="persianPattern"></textarea>
                                    <div class="has-danger" ng-messages="formProductFeature.Description.$error">
                                        <small ng-message="required">توضیحات اجباری می باشد</small>
                                        <small ng-message="pattern">از کاراکتر فارسی استفاده نمایید</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="FA6">توضیحات به انگلیسی</label>
                                    <textarea class="form-control form-control-sm" id="FA6" name="EnDescription" rows="7"
                                              ng-model="productDetail.EnDescription" required ng-pattern="englishPattern"></textarea>
                                    <div class="has-danger" ng-messages="formProductFeature.EnDescription.$error">
                                        <small ng-message="required">توضیحات انگلیسی اجباری می باشد</small>
                                        <small ng-message="pattern">از کاراکتر لاتین استفاده نمایید</small>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row mt-2 mb-2 text-left">
                            <div class="col-12" ng-disabled="formProductCategory.$invalid">
                                <input type="button" value="ثبت" class="btn btn-sm btn-success mb-3"
                                       ng-disabled="formProductFeature.$invalid" ng-click="addProductFeature()" ng-show="!isUpdate" />

                                <input type="button" value="بروزرسانی" class="btn btn-sm btn-success mb-3"
                                       ng-disabled="formProductFeature.$invalid" ng-click="updateProductFeature()" ng-show="isUpdate" />

                                <input type="button" value="جزییات جدید" class="btn btn-sm btn-info mb-3"
                                       ng-disabled="formProductFeature.$invalid" ng-click="newProductFeature()" ng-show="isUpdate" />

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>